﻿@model LiteCommerce.DomainModels.Customer
@{
    ViewBag.Title = "Xác Nhận Xóa Khách Hàng";
}
<form class="form-horizontal" method="post" action="~/Customers/Delete/@Model.CustomerID">
    <div class="form-group">
        <label class="control-label col-sm-2">Tên Khách Hàng :</label>
        <div class="col-sm-10">
            <p class="form-control-static"> @Model.CustomerName </p>
        </div>
        <label class="control-label col-sm-2">Tên Giao Dịch :</label>
        <div class="col-sm-10">
            <p class="form-control-static"> @Model.ContactName </p>
        </div>
        <label class="control-label col-sm-2">Địa Chỉ Liên Hệ :</label>
        <div class="col-sm-10">
            <p class="form-control-static"> @Model.Address </p>
        </div>
        <label class="control-label col-sm-2">Quốc Gia :</label>
        <div class="col-sm-10">
            <p class="form-control-static"> @Model.Country </p>
        </div>
        <label class="control-label col-sm-2">Thành Phố :</label>
        <div class="col-sm-10">
            <p class="form-control-static"> @Model.City </p>
        </div>
        <label class="control-label col-sm-2">Mã Bưu Chính :</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.PostalCode </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-2 col-sm-10">
            <p class="text-danger" style="font-size:18px">
                Bạn Có Chắc Muốn Xóa Khách Hàng @Model.CustomerName
            </p>
        </div>
        <div class="col-lg-offset-2 col-sm-10">
            <button type ="submit" class="btn btn-danger">Đồng Ý Xóa</button>
            <a href="~/Customers/Index" class="btn btn-warning">Bỏ qua</a>
        </div>
    </div>
</form>





