﻿@model LiteCommerce.DomainModels.Customer
@{
}
<form method="post" action="~/Customers/Save">
    @Html.HiddenFor(m => m.CustomerID)
    <div class="form-group">
        @*//  @Html.ValidationSummary()*@
    </div>
    <div class="form-group">
        <label>Tên : Nhà Cung Cấp</label>
        @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", @autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.CustomerName)
        @*<input type="text" class="form-control" name="SupplierName" id="SupplierName" autofocus value="@Model.SupplierName">*@
    </div>
    <div class="form-group">
        <label for="pwd">Tên Giao Dịch:</label>
        @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ContactName)
        @*<input type="text" class="form-control" name="ContactName" id="ContactName">*@
    </div>
    <div class="form-group">
        <label for="pwd">Địa Chỉ Liên Hệ:</label>
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Address)
        @*<input type="text" class="form-control" name="Address" id="ContactName">*@
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="pwd">Quốc Gia:</label>
            <label class="sr-only" for="pwd">Quốc Gia</label>
            @Html.DropDownListFor(m => m.Country,
                    SelectListHelper.Countries(),new { @class = "form-control"})
            @*<select class="form-control" name="Country" id="Country">
                    <option>Viet</option>
                    <option>USA</option>
                    <option>canada</option>
                </select>*@
        </div>
        <div class="col-md-6">
            <label for="pwd">Thành Phố:</label>
            <label class="sr-only" for="pwd">Thành Phố</label>
            @Html.DropDownListFor(m => m.City,
                    SelectListHelper.Cities(),new { @class = "form-control"})
            @*<select class="form-control" name="Country" id="Country">
                    <option>Viet</option>
                    <option>USA</option>
                    <option>canada</option>
                </select>*@
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="pwd">Mã Bưu Chính:</label>
            <label class="sr-only" for="pwd">Mã Bưu Chính</label>
            @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PostalCode)
        </div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-6">
            <button type="submit" class="btn-primary">
                <i class="fa fa-save"></i>Lưu Dữ Liệu
            </button>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/Customers/Index" class="btn btn-warning">
                <i class="fa fa-window-close"></i> Bỏ Qua
            </a>
        </div>
    </div>

</form>

