﻿
@{
    ViewBag.Title = "Customers";
}
@*form tìm kiếm*@

<div class=" container-fluid">
    <form id="formSearchInput">
        <div class="input-group">
            <input type="text" name="searchValue" class="form-control" placeholder="Tìm Kiếm">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>
@*Danh Sach Nhà cung cấp*@
<div id="listCustomer" class="container-fluid">

</div>
@section scripts {
    <script>
        function getCustomers(page) {
            var searchCondition = $("#formSearchInput").serializeArray();
            searchCondition.push({ name: "page", value: page });
            $.ajax({
                url: "/Customers/List",
                type: "POST",
                data: searchCondition,
                success: function (data) {
                    $("#listCustomer").empty();
                    $("#listCustomer").html(data);
                }
            });
        }

        $(document).ready(function () {
            getCustomers(1);
            $("#formSearchInput").submit(function (e) {
                e.preventDefault();
                getCustomers(1);
            });
        });
    </script>
}



