﻿@model LiteCommerce.Admin.Models.CustomerPaginationResult
@{
    Layout = null;
}
<div class="text-left">
    <p> Có tất cả<strong> @Model.PageSize </strong> nhà cung cấp trong tổng số<strong> @Model.PageCount</strong> trang, Bạn đang ở trang <strong>@Model.Page</strong></p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Họ Và Tiên</th>
            <th>Tên Giao Dịch</th>
            <th>Địa Chỉ</th>
            <th>Quốc gia</th>
            <th>Thành Phố</th>
            <th>Mã Bưu Chính</th>
            <th>Email</th>
            <th>Pass</th>
            <th class="text-right">
                <a href="~/Customers/Add" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>@item.CustomerName</td>
                <td>@item.ContactName</td>
                <td>@item.Address</td>
                <td>@item.Country</td>
                <td>@item.City</td>
                <td>@item.PostalCode</td>
                <td>@item.Email</td>
                <td>@item.Password</td>
                <td class="text-right">
                    <a href="~/Customers/Edit/@item.CustomerID" class="btn btn-sm btn-info">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a href="~/Customers/Delete/@item.CustomerID" class="btn btn-sm btn-danger">
                        <i class="fa fa-remove"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center">
    <ul class="pagination">
        @for (int page = 1; page <= Model.PageCount; page++)
        {
            if (page == Model.Page)
            {
                <li class="active"><a href="javascript:;">@page</a></li>
            }
            else
            {
                <li class="active"><a href="javascript:;" onclick="getCustomers(@page)">@page</a></li>
            }
        }
    </ul>
</div>