﻿@model LiteCommerce.DomainModels.Category
<form method="post" action="~/Categories/Save">
    @Html.HiddenFor(m => m.CategoryID)
    <div class="form-group">
        @*//  @Html.ValidationSummary()*@
    </div>
    <div class="form-group">
        <label>Tên : Category</label>
        @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control", @autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.CategoryName)
        @*<input type="text" class="form-control" name="CategoryName" id="CategoryName" autofocus value="@Model.CategoryName">*@
    </div>
    <div class="form-group">
        <label for="pwd">Description:</label>
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)
        @*<input type="text" class="form-control" name="ContactName" id="ContactName">*@
    </div>
    <div class="form-group">
        <label for="pwd">Description:</label>
        @Html.TextBoxFor(m => m.ParentCategoryId, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ParentCategoryId)
        @*<input type="text" class="form-control" name="ContactName" id="ContactName">*@
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-6">
            <button type="submit" class="btn-primary">
                <i class="fa fa-save"></i>Lưu Dữ Liệu
            </button>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/Categories/Index" class="btn btn-warning">
                <i class="fa fa-window-close"></i> Bỏ Qua
            </a>
        </div>
    </div>

</form>