﻿@*@{
        ViewBag.Title = "Danh Sách Loại Hàng";
    }*@

<div class=" container-fluid">
    <form id="formSearchInput">
        <div class="input-group">
            <input type="text" name="searchValue" class="form-control" placeholder="Tìm Kiếm">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>
@*Danh Sach Nhà cung cấp*@
<div id="listCategory" class="container-fluid"></div>
@section scripts {
    <script>
        function getCategory(page) {
            var searchCondition = $("#formSearchInput").serializeArray();
            searchCondition.push({ name: "page", value: page });
            $.ajax({
                url: "/Categories/List",
                type: "POST",
                data: searchCondition,
                success: function (data) {
                    $("#listCategory").empty();
                    $("#listCategory").html(data);
                }
            });
        }

        $(document).ready(function () {
            getCategory(1);
            $("#formSearchInput").submit(function (e) {
                e.preventDefault();
                getCategory(1);
            });
        });
    </script>
}
