﻿@model LiteCommerce.Admin.Models.CategoryPaginationResult
@{
    Layout = null;
}
<div class="text-left">
    <p> Có tất cả<strong> @Model.PageSize </strong> nhà cung cấp trong tổng số<strong> @Model.PageCount</strong> trang, Bạn đang ở trang <strong>@Model.Page</strong></p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Tên Loại Hàng</th>
            <th>Ghi chú</th>
            <th class="text-right">
                <a href="~/Categories/Add" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>@item.CategoryName</td>
                <td>@item.Description</td>
                <td>@item.ParentCategoryId</td>
                <td class="text-right">
                    <a href="~/Categories/Edit/@item.CategoryID" class="btn btn-sm btn-info">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a href="~/Categories/Delete/@item.CategoryID" class="btn btn-sm btn-danger">
                        <i class="fa fa-remove"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center">
    <ul class="pagination">
        @for (int page = 1; page <= Model.PageCount; page++)
        {
            if (page == Model.Page)
            {
                <li class="active"><a href="javascript:;">@page</a></li>
            }
            else
            {
                <li class="active"><a href="javascript:;" onclick="getCategory(@page)">@page</a></li>
            }
        }
    </ul>
</div>

