﻿@model LiteCommerce.DomainModels.Product

    @{
        ViewBag.Title = "Thêm Mặt Hàng";
    }


<form method="post" action="~/Products/Save">
    @Html.ValidationSummary()
    <div class="form-group">
        <label>Tên hàng:</label>
        <input type="text" class="form-control" name="ProductName" id="ProductName" value="@Model.ProductName">
        
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Tên loại hàng:</label>
                @Html.DropDownListFor(m => m.CategoryID, SelectListHelper.Categories(), new { @class = "form-control" })

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Tên nhà cung cấp:</label>
                @Html.DropDownListFor(m => m.SupplierID, SelectListHelper.Suppliers(), new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Đơn vị tính:</label>
                <input type="text" class="form-control" name="Unit" id="Unit" value="@Model.Unit">
           
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Giá hàng:</label>
                <input type="text" class="form-control" name="Price" id="Price" value="@Model.Price" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i> Lưu dữ liệu
            </button>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/Products/Index" class="btn btn-warning">
                <i class="fa fa-window-close"></i> Bỏ qua
            </a>
        </div>
    </div>
</form>


