﻿@model LiteCommerce.DomainModels.Product
@{
    ViewBag.Title = "Xác nhận xóa mặt hàng";
}


<form method="post" action="~/Products/Delete/@Model.ProductID" class="">
    <div class="form-group">
        <label>Tên hàng:</label>
        <input type="text" class="form-control" value="@Model.ProductName" id="ProductName" name="ProductName" readonly>
    </div>
    <div class="form-group">
        <label>Mã nhà cung cấp: </label>
        <input type="text" class="form-control" value="@Model.SupplierID" id="SupplierID" name="SupplierID" readonly>
    </div>
    <div class="form-group">
        <label>Mã loại hàng: </label>
        <input type="text" class="form-control" value="@Model.CategoryID" id="CategoryID" name="CategoryID" readonly>
    </div>
    <div class="form-group">
        <label>Đơn vị tính:</label>
        <input type="text" class="form-control" value="@Model.Unit" id="Unit" name="Unit" readonly>
    </div>
    <div class="form-group">
        <label>Giá bán: </label>
        <input type="text" class="form-control" value="@Model.Price" id="Price" name="Price" readonly>
    </div>
    <div class="form-group">
        <label>Ảnh minh họa: </label>
        <input type="text" class="form-control" value="@Model.Photo" id="Photo" name="Photo" readonly>
    </div>


    <div class="row">
        <div class="col-md-12 text-center">
            <div class="">
                <p class="text-danger" style="font-size:18px">
                    Bạn thực sự muốn xóa nhà cung cấp <b>@Model.ProductName</b> khỏi hệ thống
                </p>

            </div>
            <div class="col-md-6 text-right">

                @*<a href="~/Suppliers/Index" type="submit" class="btn btn-danger" onclick="alert('Đã xóa thanh công')"
                                            Response.Write("<script>alert('Xóa thành công');</script>");>
                        <i class="fa fa-remove"></i> Xác nhận xóa
                    </a>*@
                <button type="submit" class="btn btn-danger" onclick="alert('Đã xóa thanh công @Model.ProductName')">
                    <i class="fa fa-remove"></i> Xác nhận xóa

                </button>
            </div>
            <div class="col-md-6 text-left">
                <a href="/Products/Index" class="btn btn-warning">
                    <i class="fa fa-window-close"></i> Bỏ qua
                </a>
            </div>


        </div>
    </div>
</form>
