﻿
@model LiteCommerce.DomainModels.ProductEx
@{
    ViewBag.Title = "Cập nhật thông tin mặt hàng";
}
<form method="post" action="~/Products/Save">
    @*<input type="hidden" name="SupplierID" value="@Model.SupplierID" />*@
    @Html.HiddenFor(m => m.ProductID)
    @Html.ValidationSummary()
    <div class="form-group">
        <label>Tên hàng:</label>
        <input type="text" class="form-control" name="ProductName" id="ProductName" value="@Model.ProductName">
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Tên loại hàng:</label>

                @Html.DropDownListFor(m => m.CategoryID, SelectListHelper.Categories(), new { @class = "form-control" })

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Tên nhà cung cấp:</label>
                @Html.DropDownListFor(m => m.SupplierID, SelectListHelper.Suppliers(), new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Đơn vị tính:</label>
                <input type="text" class="form-control" name="Unit" id="Unit" value="@Model.Unit" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Giá hàng:</label>
                <input type="text" class="form-control" name="Price" id="Price" value="@Model.Price" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Giá hàng:</label>
                <input type="text" class="form-control" name="Photo" id="Photo" value="@Model.Photo" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i> Lưu dữ liệu
            </button>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/Products/Index" class="btn btn-warning">
                <i class="fa fa-window-close"></i> Bỏ qua
            </a>
        </div>
    </div>
</form>

@*// hieenr thi thong tin mat hang*@

@*// hien thi danh sach cac thuoc tinh de xem, sua, xoa*@
<form action="~/Products/DeleteAttributes/@Model.ProductID" method="post">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width:50px;"></th>
                <th>Tên thuộc tính</th>
                <th>Giá trị</th>
                <th>
                    <button type="submit" class="btn btn-xs btn-danger">
                        <li class="fa-edit fa-remove"></li>
                    </button>
                    <ul class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal_AddAttribute">
                        <li class="fa-edit fa-plus"></li>
                    </ul>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Attributes)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="attributeIds" value="@item.AttributeID" />

                    </td>
                    <td>@item.AttributeName</td>
                    <td>@item.AttributeValue</td>
                    <td>@item.DisplayOrder</td>
                    <td>
                        <ul class="btn btn-sm btn-info" data-toggle="modal" data-target="#@item.AttributeID">
                            <li class="fa fa-edit"></li>
                        </ul>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</form>
@foreach (var item in Model.Attributes)
{
    <div id="@item.AttributeID" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><strong>Edit Attribute</strong></h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="~/Products/SaveAttribute/@Model.ProductID">
                        <input type="hidden" class="form-control" name="ProductID" id="ProductID" autofocus value="@Model.ProductID" />
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="AttributeID" id="AttributeID" autofocus value="@item.AttributeID">
                            <label>Tên danh mục sản phẩm:</label>
                            <input type="text" class="form-control" name="AttributeName" id="AttributeName" autofocus value="@item.AttributeName">
                        </div>
                        <div class="form-group">
                            <label>Giá Trị:</label>
                            <input type="text" class="form-control" name="AttributeValue" id="AttributeValue" value="@item.AttributeValue">
                        </div>
                        <div class="form-group">
                            <label>Giá Trị:</label>
                            <input type="text" class="form-control" name="DisplayOrder" id="DisplayOrder" value="@item.DisplayOrder">
                        </div>
                        <button class="btn btn-warning" type="submit">
                            <i class="glyphicon glyphicon-edit"></i> Edit
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
}

<div id="myModal_AddAttribute" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>Add Attribute</strong></h4>
            </div>
            <div class="modal-body">
                <form method="post" action="~/Products/SaveAttribute/@Model.ProductID">
                    <div class="form-group">

                        <label>AttributeName:</label>
                        <input type="text" class="form-control" name="AttributeName" id="AttributeName" autofocus required />
                        <input type="hidden" class="form-control" name="ProductID" id="ProductID" autofocus value="@Model.ProductID" />
                    </div>
                    <div class="form-group">
                        <label>Giá Trị:</label>
                        <input type="text" class="form-control" name="AttributeValue" id="AttributeValue" required />
                    </div>
                    <div class="form-group">
                        <label>DisplayOrder:</label>
                        <input type="text" class="form-control" name="DisplayOrder" id="DisplayOrder" required />
                    </div>

                    <button class="btn btn-primary" type="submit">
                        <i class="glyphicon glyphicon-plus"></i> Add
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>
@*hien thi danh sach anh cac thuoc tinh de xem, sua, xoa*@
<form action="~/Products/DeleteGalleries/@Model.ProductID" method="post">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width:50px;"></th>
                <th>Ảnh</th>
                <th>Mô tả</th>
                <th>
                    <button type="submit" class="btn btn-xs btn-danger">
                        <i class="fa-edit fa-remove"></i>
                    </button>
                    <ul class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal_AddGallery">
                        <i class="fa-edit fa-plus"></i>
                    </ul>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Galleries)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="gallerieIds" value="@item.GalleryID" />
                    </td>
                    <td><img src="@item.Photo" style="width:100px" /></td>
                    <td>@item.ProductID</td>
                    <td>@item.IsHidden</td>
                    <td>@item.Description</td>
                    <td>
                        <ul class="btn btn-sm btn-info" data-toggle="modal" data-target="#@item.GalleryID">
                            <i class="fa fa-edit"></i>
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
@foreach (var item in Model.Galleries)
{
    <div id="@item.GalleryID" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><strong>Edit Gallery</strong></h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="~/Products/SaveGallery/@Model.ProductID">
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="ProductID" id="ProductID" autofocus value="@Model.ProductID" />
                            <input type="hidden" class="form-control" name="GalleryID" id="GalleryID" autofocus value="@item.GalleryID">
                            <label>Photo:</label>
                            <input type="text" class="form-control" name="Photo" id="Photo" autofocus value="@item.Photo">
                        </div>
                        <div class="form-group">
                            <label>Description:</label>
                            <input type="text" class="form-control" name="Description" id="Description" value="@item.Description">
                        </div>
                        <div class="form-group">
                            <label>DisplayOrder:</label>
                            <input type="text" class="form-control" name="DisplayOrder" id="DisplayOrder" value="@item.DisplayOrder">
                        </div>
                        <div class="form-group">
                            <label>IsHidden:</label>
                            <input type="text" class="form-control" name="IsHidden" id="IsHidden" value="@item.IsHidden">
                        </div>
                        <button class="btn btn-warning" type="submit">
                            <i class="glyphicon glyphicon-edit"></i> Edit
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
}
<div id="myModal_AddGallery" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>Add Gallery</strong></h4>
            </div>
            <div class="modal-body">
                <form method="post" action="~/Products/SaveGallery/@Model.ProductID ">
                    <div class="form-group">
                        <label>Photo:</label>
                        <input type="hidden" class="form-control" name="ProductID" id="ProductID"  value="@Model.ProductID" />
                        <input type="text" class="form-control" name="Photo" id="Photo" autofocus required />
                    </div>
                    <div class="form-group">
                        <label>IsHidden:</label>
                        <input type="text" class="form-control" name="IsHidden" id="IsHidden" autofocus required />
                    </div>
                    <div class="form-group">
                        <label>Description:</label>
                        <input type="text" class="form-control" name="Description" id="Description" />
                    </div>
                    <div class="form-group">
                        <label>DisplayOrder:</label>
                        <input type="text" class="form-control" name="DisplayOrder" id="DisplayOrder" required />
                    </div>
                    <button class="btn btn-primary" type="submit">
                        <i class="glyphicon glyphicon-plus"></i> Add
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>