﻿@model IEnumerable<LiteCommerce.DomainModels.Product>
@{
    Layout = null;
}

<div class="text-left">
    <p>Có tất cả <strong>@ViewBag.RowCount</strong> mặt hàng. Bạn đang ở trang <strong>@ViewBag.Page</strong> trên tổng số <strong>@ViewBag.PageSize</strong> trang.</p>
</div>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Tên hàng</th>
            <th>Loại hàng</th>
            <th>Nhà cung cấp</th>
            <th>Đơn vị tính</th>
            <th>Giá hàng</th>
            <th>Ảnh minh họa</th>
            <th class="text-right">
                @*<button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal_Add">
                        <i class="fa fa-plus"></i>
                    </button>*@
                <a href="~/Products/Add" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="~/Products/Edit/@item.ProductID">@item.ProductName</a>
                </td>
                <th>@item.CategoryName</th>
                <th>@item.SupplierName</th>
                <td>@item.Unit</td>
                <td>@item.Price</td>
                <td>
                    <img src="@item.Photo" style="width:100px" />
                </td>
                <td>
                    <a href="~/Products/Edit/@item.ProductID" class="btn btn-xs btn-info"><i class="fa fa-edit"></i></a>
                    <a href="~/Products/Delete/@item.ProductID" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <ul class="pagination">
        @for (int i = 1; i <= ViewBag.PageCount; i++)
        {
            if (i - 1 == 0)
            {
                int pageGiam = ViewBag.Page - 1;
                if (pageGiam < 1)
                {
                    <li><a style="cursor:not-allowed">&lt;&lt;</a></li>
                }
                else
                {
                    <li><a href="javascript:;" onclick="getProducts(@pageGiam)">&lt;&lt;</a></li>
                }

            }
            if (i == ViewBag.Page)
            {
                <li class="active"><a href="javascript:;">@i</a></li>
            }
            else
            {
                <li><a href="javascript:;" onclick="getProducts(@i)">@i</a></li>
            }
            if (i + 1 > ViewBag.PageCount)
            {
                int pageTang = ViewBag.Page + 1;
                if (pageTang >= ViewBag.PageCount + 1)
                {
                    <li><a style="cursor:not-allowed;">&gt;&gt;</a></li>
                }
                else
                {
                    <li><a href="javascript:;" onclick="getProducts(@pageTang)">&gt;&gt;</a></li>
                }
            }
        }
    </ul>
</div>


@*<!-- Modal edit-->
@foreach (var item in Model)
{
    <div id="@item.ProductID" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><strong>Chỉnh sửa sản phẩm</strong></h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="~/Products/Save">
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="ProductID" id="ProductID" value="@item.ProductID">
                            <label>Tên hàng:</label>
                            <input type="text" class="form-control" name="ProductName" id="ProductName" autofocus value="@item.ProductName" required>
                        </div>
                        <div class="form-group">
                            <label>Đơn vị tính:</label>
                            <input type="text" class="form-control" name="Unit" id="Unit" value="@item.Unit" required>
                        </div>
                        <div class="form-group">
                            <label>Giá thành:</label>
                            <input type="text" class="form-control" name="Price" id="Price" value="@item.Price" required>
                        </div>
                        <button class="btn btn-warning" type="submit">
                            <i class="glyphicon glyphicon-edit"></i> Edit
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
}




<!-- Modal Add -->

<div id="myModal_Add" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>Thêm sản phẩm</strong></h4>
            </div>
            <div class="modal-body">
                <form method="post" action="~/Products/Save">
                    <div class="form-group">
                        <label>Tên hàng:</label>
                        <input type="text" class="form-control" name="ProductName" id="ProductName" autofocus required />
                    </div>
                    <div class="form-group">
                        <label>Đơn vị tính:</label>
                        <input type="text" class="form-control" name="Unit" id="Unit" required />
                    </div>
                    <div class="form-group">
                        <label>Giá hàng:</label>
                        <input type="text" class="form-control" name="Price" id="Price" required />
                    </div>
                    <button class="btn btn-primary" type="submit">
                        <i class="glyphicon glyphicon-plus"></i> Add
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>



    <!-- Modal dele-->
    @foreach (var item in Model)
    {
        <div id="@item.ProductID" class="modal fade  @item.ProductID" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><strong>Xóa sản phẩm</strong></h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="~/Products/Delete/@item.ProductID">
                            <div class="form-group">
                                <label>Tên hàng:</label>
                                <input type="text" class="form-control" name="ProductName" id="ProductName" autofocus value="@item.ProductName" readonly>
                            </div>
                            <div class="form-group">
                                <label>Đơn vị tính:</label>
                                <input type="text" class="form-control" name="Unit" id="Unit" value="@item.Unit" readonly>
                            </div>
                            <div class="form-group">
                                <label>Giá hàng:</label>
                                <input type="text" class="form-control" name="Price" id="Price" value="@item.Price" readonly>
                            </div>
                            <button class="btn btn-danger" type="submit" onclick="return confirm('Xóa nhà vận chuyển')">
                                <i class="glyphicon glyphicon-remove"></i> Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }*@