﻿@model LiteCommerce.DomainModels.Shipper
@{ 
    @ViewBag.Title
}
<form method="post" action="~/Shippers/Save">
    @*@Html.HiddenFor(m => m.ShipperID)*@
    <div class="form-group">
        @*//  @Html.ValidationSummary()*@
    </div>
    <div class="form-group">
        <label>Tên : Shipper</label>
        @Html.TextBoxFor(m => m.ShipperName, new { @class = "form-control", @autofocus = "autofocus" })
        @*<input type="text" class="form-control" name="CategoryName" id="CategoryName" autofocus value="@Model.CategoryName">*@
    </div>
    <div class="form-group">
        <label for="pwd">Điện Thoại:</label>
        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
   
        @*<input type="text" class="form-control" name="ContactName" id="ContactName">*@
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-6">
            <button type="submit" class="btn-primary">
                <i class="fa fa-save"></i>Lưu Dữ Liệu
            </button>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/Shippers/Index" class="btn btn-warning">
                <i class="fa fa-window-close"></i> Bỏ Qua
            </a>
        </div>
    </div>

</form>