﻿@model LiteCommerce.Admin.Models.ShipperPaginationResult
@{
    ViewBag.Title = "ShipperInfo";
}
    <div class="margin-bottom">
        <div class=" container-fluid">
            <form method="get" action="~/Shippers/Index">
                <div class="input-group">
                    <input type="text" name="searchValue" class="form-control" placeholder="@Model.SeachValue">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="text-center">

        <a href="~/Shippers/Add" class="glyphicon glyphicon-plus btn btn-primary" type="button"> Add </a>

    </div>

<div class="row">
    @foreach (var item in Model.Data)
    {
        <div class="col-md-4">
            <div class="col-md">
                <div class="thumbnail">
                    <div class="caption text-center">
                        <div class="position-relative">
                            <img src="https://az818438.vo.msecnd.net/icons/slack.png" style="width:72px;height:72px;" />
                        </div>
                        <h4 id="thumbnail-label"><a href="#" target="_blank">Shipper</a></h4>
                        <p><i class="glyphicon glyphicon-user light-red lighter bigger-120"></i>&nbsp;@item.ShipperName</p>
                        <div class="fa fa-phone">
                            @item.Phone
                        </div>
                        <div class="caption card-footer text-center">
                            <ul class="list-inline">
                                <li class="btn btn-sm btn-info" data-toggle="modal" data-target="#@item.ShipperID">
                                    <i class="fa fa-edit"></i>
                                </li>
                                <li></li>
                                <li class="btn btn-sm btn-danger" data-toggle="modal" data-target=".@item.ShipperID">
                                    <i class="fa fa-remove"></i>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
@*Button ADD*@

@*Chuyen trang*@
<div class="text-center">
    <ul class="pagination">
        <li><a href="#">&lt;&lt;</a></li>
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            if (i == Model.Page)
            {
                <li class="active"><a href="#">@i</a></li>
            }
            else
            {
                <li><a href="~/Shippers/Index?page=@i &searchValue= @Model.SeachValue">@i</a></li>
            }
        }
        <li><a href="~/Shippers/Index?page=@Model.PageCount &searchValue= @Model.SeachValue">&gt;&gt;</a></li>
    </ul>
</div>


<!-- Modal -->
@foreach (var item in Model.Data)
{
    <div id="@item.ShipperID" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><strong>Chỉnh sửa sản phẩm</strong></h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="~/Shippers/Save">
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="ShipperId" id="ShipperId" autofocus value="@item.ShipperID">
                            <label>Tên danh mục sản phẩm:</label>
                            <input type="text" class="form-control" name="ShipperName" id="ShipperName" autofocus value="@item.ShipperName">
                        </div>
                        <div class="form-group">
                            <label>Mô tả:</label>
                            <input type="text" class="form-control" name="Phone" id="Phone" value="@item.Phone">
                        </div>
                        <button class="btn btn-warning" type="submit">
                            <i class="glyphicon glyphicon-edit"></i> Edit
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
}
@foreach (var item in Model.Data)
{
    <div id="@item.ShipperName" class="modal fade @item.ShipperID" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title">Chắc Chắn Xóa ?</h6>
                </div>
                <form method="post" action="~/Shippers/Delete/@item.ShipperID">
                    <div class="form-group">
                        <label>Tên</label>
                        <input type="text" class="form-control" name="ShipperName" id="ShipperName" value="@item.ShipperName" readonly>
                    </div>
                    <div class="form-group">
                        <label>Phone </label>
                        <input type="text" class="form-control" name="Phone" id="Phone" value="@item.Phone" readonly>
                    </div>
                    <button class="btn btn-danger" type="submit" onclick="return confirm('Xóa sản phẩm')">
                        <i class="glyphicon glyphicon-remove"></i> Delete
                    </button>
                </form>
            </div>

        </div>
    </div>
}