﻿@model LiteCommerce.DomainModels.Order

@{
    ViewBag.Title = "Bổ sung đơn hàng";
}
<form method="post" action="~/Order/SaveOrder">
    @*<input type="hidden" name="SupplierID" value="@Model.SupplierID" />*@
    @Html.HiddenFor(m => m.OrderID)

    <div class="form-group">
        <label>Khách hàng:</label>
        <div class="form-group">
            @Html.DropDownList("CustomerID", SelectListHelper.Customers(1), new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label>Nhân viên:</label>
        <div class="form-group">
            @Html.DropDownList("EmployeeID", SelectListHelper.Employee(1), new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label>Nhân viên:</label>
        <div class="form-group">
            @Html.DropDownList("ShipperID", SelectListHelper.Shippers(1), new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i> Lưu dữ liệu
            </button>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/Order/Index" class="btn btn-warning">
                <i class="fa fa-window-close"></i> Bỏ qua
            </a>
        </div>
    </div>
</form>
