﻿@model LiteCommerce.DomainModels.Order
@{
    ViewBag.Title = "Xác nhận xóa đơn hàng";
}


<form method="post" action="~/Order/Delete/@Model.OrderID" class="">
    @*<input type="hidden" name="SupplierID" value="@Model.SupplierID" />*@
    @Html.HiddenFor(m => m.OrderID)

    <div class="form-group">
        <label>Khách hàng:</label>
        <div class="form-group">
            @Html.DropDownList("CustomerID", SelectListHelper.Customers(1), new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label>Ngày đặt:</label>
        <div class="form-group">
            <input type="text" class="form-control" name="OrderTime" id="OrderTime" value="@Model.OrderTime" readonly>
        </div>
    </div>

    <div class="form-group">
        <label>Nhân viên:</label>
        <div class="form-group">
            @Html.DropDownList("EmployeeID", SelectListHelper.Employee(1), new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label>Ngày xác nhận:</label>
        <div class="form-group">
            <input type="text" class="form-control" name="AcceptTime" id="AcceptTime" value="@Model.AcceptTime" readonly>
        </div>
    </div>
    <div class="form-group">
        <label>Nhà vận chuyển:</label>
        <div class="form-group">
            <input type="text" class="form-control" name="ShipperID" id="ShipperID" value="@Model.ShipperID" readonly>
        </div>
    </div>
    <div class="form-group">
        <label>Ngày Chuyển:</label>
        <div class="form-group">
            <input type="text" class="form-control" name="ShippedTime" id="ShippedTime" value="@Model.ShippedTime" readonly>
        </div>
    </div>
    <div class="form-group">
        <label>Thời gian hoàn thành:</label>
        <div class="form-group">
            <input type="text" class="form-control" name="FinishedTime" id="FinishedTime" value="@Model.FinishedTime" readonly>
        </div>
    </div>
    <div class="form-group">
        <label>Trạng thái:</label>
        <div class="form-group">
            @Html.DropDownList("Status", SelectListHelper.OrderStatus(1), new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <div class="">
                <p class="text-danger" style="font-size:18px">
                    Bạn thực sự muốn xóa nhà cung cấp <b>@Model.OrderID</b> khỏi hệ thống
                </p>

            </div>
            <div class="col-md-6 text-right">

                @*<a href="~/Suppliers/Index" type="submit" class="btn btn-danger" onclick="alert('Đã xóa thanh công')"
                                            Response.Write("<script>alert('Xóa thành công');</script>");>
                        <i class="fa fa-remove"></i> Xác nhận xóa
                    </a>*@
                <button type="submit" class="btn btn-danger" onclick="return confirm('Xóa sản phẩm này!')">
                    <i class="fa fa-remove"></i> Xác nhận xóa

                </button>
            </div>
            <div class="col-md-6 text-left">
                <a href="/Order/Index" class="btn btn-warning">
                    <i class="fa fa-window-close"></i> Bỏ qua
                </a>
            </div>


        </div>
    </div>
</form>
