﻿@model LiteCommerce.DomainModels.Order

@{
    ViewBag.Title = "cập nhật đơn hàng";
}
<form method="post" action="~/Order/SaveOrder">
    @*<input type="hidden" name="SupplierID" value="@Model.SupplierID" />*@
    @Html.HiddenFor(m => m.OrderID)

    <div class="form-group">
        <label>Khách hàng:</label>
        <div class="form-group">
            @Html.DropDownList("CustomerID", SelectListHelper.Customers(1), new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label>Ngày đặt:</label>
        <div class="form-group">
            <input type="text" class="form-control" name="OrderTime" id="OrderTime" value="@Model.OrderTime" required>
        </div>
    </div>

    <div class="form-group">
        <label>Nhân viên:</label>
        <div class="form-group">
            @Html.DropDownList("EmployeeID", SelectListHelper.Employee(1), new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label>Ngày xác nhận:</label>
        <div class="form-group">
            <input type="text" class="form-control" name="AcceptTime" id="AcceptTime" value="@Model.AcceptTime" required>
        </div>
    </div>
    <div class="form-group">
        <label>Nhà vận chuyển:</label>
        <div class="form-group">
            <input type="text" class="form-control" name="ShipperID" id="ShipperID" value="@Model.ShipperID" required>
        </div>
    </div>
    <div class="form-group">
        <label>Ngày Chuyển:</label>
        <div class="form-group">
            <input type="text" class="form-control" name="ShippedTime" id="ShippedTime" value="@Model.ShippedTime" required>
        </div>
    </div>
    <div class="form-group">
        <label>Thời gian hoàn thành:</label>
        <div class="form-group">
            <input type="text" class="form-control" name="FinishedTime" id="FinishedTime" value="@Model.FinishedTime" required>
        </div>
    </div>
    <div class="form-group">
        <label>Trạng thái:</label>
        <div class="form-group">
            @Html.DropDownList("Status", SelectListHelper.OrderStatus(1), new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i> Lưu dữ liệu
            </button>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/Order/Index" class="btn btn-warning">
                <i class="fa fa-window-close"></i> Bỏ qua
            </a>
        </div>
    </div>
</form>
