﻿@{
    ViewBag.Title = "Danh mục đơn hàng";
}

<!-- Form để tìm kiếm -->
<div class="container-fluid">
    <form id="formSearchInput">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.DropDownList("Customer", SelectListHelper.Customers(1), new { @class = "form-control" })

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.DropDownList("Status", SelectListHelper.OrderStatus(1), new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <div>FromDate</div>
                <input type="date" name="fromDate" value="" />
            </div>
            <div class="col-md-6">
                <div>To Date</div>
                <div class="form-group">
                    <input type="date" name="today" value="" />
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:5px">
            <div class="col-md-12 ">
                <div class="input-group">
                    <input name="searchValue" type="text" class="form-control" placeholder="Nhập tên cần tìm..." value="">
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <i class="glyphicon glyphicon-search"></i> Tìm kiếm
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Hiển thị kết quả tìm kiếm -->
<div id="listOrders" class="container-fluid"></div>

@section scripts {
    <script>
        function getOrders(page) {
            var searchCondition = $("#formSearchInput").serializeArray();
            searchCondition.push({ name: "page", value: page });
            $.ajax({
                url: "/Order/List",
                type: "POST",
                data: searchCondition,
                success: function (data) {
                    $("#listOrders").empty();
                    $("#listOrders").html(data);
                }
            });
        }

        $(document).ready(function () {
            getOrders(1);
            $("#formSearchInput").submit(function (e) {
                e.preventDefault();
                getOrders(1);
            });
        });
    </script>
}