﻿
@model IEnumerable<LiteCommerce.DomainModels.Order>

@{
    Layout = null;
}

<div class="text-left">
    <p>
        Có tất cả <strong>@ViewBag.RowCount</strong> đơn hàng.
        Bạn đang ở trang <strong>@ViewBag.Page</strong>
        trên tổng số <strong>@ViewBag.PageCount</strong> trang.
    </p>
</div>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Mã đơn hàng</th>
            @*<th>Tên khách hàng</th>*@
            <th>Mã khách hàng</th>
            <th>Thời gian đặt hàng</th>
            <th>Mã nhân viên</th>
            <th>Thời gian xác nhận</th>
            <th>Mã nhà vận chuyển</th>
            <th>Thời gian giao hàng</th>
            <th>Thời gian hoàn thành đơn hàng</th>
            <th>Trạng thái</th>

            <th class="text-right">
                @*<a href="~/Order/Add" class="btn btn-xs btn-info">
                        <i class="fa fa-plus"></i>
                    </a>*@
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="~/Order/ListDetail/@item.OrderID">@item.OrderID</a>
                </td>
                @*<td>@item.CustomerName</td>*@
                <td>@item.CustomerID</td>
                <td>@item.OrderTime</td>
                <td>@item.EmployeeID</td>
                <td>@item.AcceptTime</td>
                <td>@item.ShipperID</td>
                <td>@item.ShippedTime</td>
                <td>@item.FinishedTime</td>
                <td>@item.Status</td>

                <td>
                    <a href="~/Order/Edit/@item.OrderID" class="btn btn-xs btn-info"><i class="fa fa-edit"></i></a>
                    <a href="~/Order/Delete/@item.OrderID" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center">
    <ul class="pagination">
        @for (int i = 1; i <= ViewBag.PageCount; i++)
        {
            if (i - 1 == 0)
            {
                int pageGiam = ViewBag.Page - 1;
                if (pageGiam < 1)
                {
                    <li><a style="cursor:not-allowed">&lt;&lt;</a></li>
                }
                else
                {
                    <li><a href="javascript:;" onclick="getOrders(@pageGiam)">&lt;&lt;</a></li>
                }

            }
            if (i == ViewBag.Page)
            {
                <li class="active"><a href="javascript:;">@i</a></li>
            }
            else
            {
                <li><a href="javascript:;" onclick="getOrders(@i)">@i</a></li>
            }
            if (i + 1 > ViewBag.PageCount)
            {
                int pageTang = ViewBag.Page + 1;
                if (pageTang >= ViewBag.PageCount + 1)
                {
                    <li><a style="cursor:not-allowed;">&gt;&gt;</a></li>
                }
                else
                {
                    <li><a href="javascript:;" onclick="getOrders(@pageTang)">&gt;&gt;</a></li>
                }
            }
        }
    </ul>
</div>