﻿
@model LiteCommerce.DomainModels.Order

@{
    ViewBag.TitleAGallerie = "Thông tin chi tiết đơn hàng";
}

<form method="post" action="">

    @Html.HiddenFor(m => m.OrderID)

    <div class="form-group">
        <label>Mã khách hàng:</label>
        <input type="text" class="form-control" name="CustomerID" id="CustomerID" value="@Model.CustomerID" readonly>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Thời gian đặt hàng:</label>
                <input type="text" class="form-control" name="OrderTime" id="OrderTime" value="@Model.OrderTime" readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Thời gian xác nhận đơn hàng:</label>
                <input type="text" class="form-control" name="AcceptTime" id="AcceptTime" value="@Model.AcceptTime" readonly>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Thời gian bắt đầu vận chuyển:</label>
                <input type="text" class="form-control" name="ShippedTime" id="ShippedTime" value="@Model.ShippedTime" readonly>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Thời gian hoàn thành:</label>
                <input type="text" class="form-control" name="FinishedTime" id="FinishedTime" value="@Model.FinishedTime" readonly>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Mã nhà vận chuyển:</label>
                <input type="text" class="form-control" name="ShipperID" id="ShipperID" value="@Model.ShipperID" readonly />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Trạng thái:</label>
                @Html.DropDownListFor(m => m.Status, SelectListHelper.OrderStatus(), new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
    </div>

</form>

<form action="~/Order/Edit/@Model.OrderID">
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-edit"></i> Cập nhật đơn hàng
            </button>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/Order/Index" class="btn btn-warning">
                <i class="fa fa-backward"></i> Trở về
            </a>
        </div>
    </div>

</form>
