﻿@model LiteCommerce.DomainModels.Employee
@{
    ViewBag.Title = "Add";
}


<form method="post" action="~/Employees/Save">
    @Html.HiddenFor(m => m.EmployeeID)
    <div class="form-group">
        @*//  @Html.ValidationSummary()*@
    </div>
    <div class="form-group">
        <label>Họ</label>
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @autofocus = "autofocus" })
        @*<input type="text" class="form-control" name="CategoryName" id="CategoryName" autofocus value="@Model.CategoryName">*@
    </div>
    <div class="form-group">
        <label>Tên</label>
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @autofocus = "autofocus" })
        @*<input type="text" class="form-control" name="CategoryName" id="CategoryName" autofocus value="@Model.CategoryName">*@
    </div>
    <div class="form-group">
        <label for="pwd">Note:</label>
        @Html.TextAreaFor(m => m.Notes, new { @class = "form-control" })

        @*<input type="text" class="form-control" name="ContactName" id="ContactName">*@
    </div>
    <div class="form-group">
        <label for="pwd">Email</label>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

        @*<input type="text" class="form-control" name="ContactName" id="ContactName">*@
    </div>
    <div class="form-group">
        <label for="pwd">Pass</label>
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })

        @*<input type="text" class="form-control" name="ContactName" id="ContactName">*@
    </div>
    <div class="form-group">
        <label for="pwd">Photo</label>
        @Html.TextBoxFor(m => m.Photo, new { @class = "form-control" })

        @*<input type="text" class="form-control" name="ContactName" id="ContactName">*@
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-md-6">
            <button type="submit" class="btn-primary">
                <i class="fa fa-save"></i>Lưu Dữ Liệu
            </button>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/Shippers/Index" class="btn btn-warning">
                <i class="fa fa-window-close"></i> Bỏ Qua
            </a>
        </div>
    </div>

</form>