﻿@model LiteCommerce.Admin.Models.EmployeePaginationResult
@{

}

<div class="margin-bottom">
    <div class=" container-fluid">
        <form method="get" action="~/Employees/Index">
            <div class="input-group">
                <input type="text" name="seachValue" class="form-control" placeholder="@Model.SeachValue">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="text-center">

    <a href="~/Employees/Add" class="glyphicon glyphicon-plus btn btn-primary" type="button"> Add </a>

</div>
<div class="row">
    @foreach (var item in Model.Data)
    {
        <div class="col-md-4">
            <div class="col-md">
                <div class="thumbnail">
                    <div class="caption text-center">
                        <div class="position-relative">
                            <img src="@item.Photo" style="width:72px;height:72px;" />
                        </div>
                        <h4 id="thumbnail-label"><a href="#" target="_blank">Employees</a></h4>
                        <div class=" fa fa-address-book">
                            @item.FirstName @item.LastName
                        </div>

                        <div class=" fa fa-birthday-cake">
                            @item.BirthDate
                        </div>
                        <div class="caption card-footer text-center">
                            <ul class="list-inline">
                                <li class="btn btn-sm btn-info" data-toggle="modal" data-target="#@item.EmployeeID">
                                    <i class="fa fa-edit"></i>
                                </li>
                                <li></li>
                                <li class="btn btn-sm btn-danger" data-toggle="modal" data-target=".@item.EmployeeID">
                                    <i class="fa fa-remove"></i>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>

@*Chuyen trang*@
<div class="text-center">
    <ul class="pagination">
        <li><a href="#">&lt;&lt;</a></li>
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            if (i == Model.Page)
            {
                <li class="active"><a href="#">@i</a></li>
            }
            else
            {
                <li><a href="~/Employees/Index?page=@i &searchValue= @Model.SeachValue">@i</a></li>
            }
        }
        <li><a href="~/Employees/Index?page=@Model.PageCount &searchValue= @Model.SeachValue">&gt;&gt;</a></li>
    </ul>
</div>

@foreach (var item in Model.Data)
{
    <div id="@item.EmployeeID" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><strong>Chỉnh sửa sản phẩm</strong></h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="~/Employees/Save">
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="EmployeeId" id="EmployeeId" autofocus value="@item.EmployeeID">
                            <label>Tên :</label>
                            <input type="text" class="form-control" name="FirstName" id="FirstName" autofocus value="@item.FirstName">
                        </div>
                        <div class="form-group">
                            <label>Họ:</label>
                            <input type="text" class="form-control" name="LastName" id="LastName" value="@item.LastName">
                        </div>
                        <div class="form-group">
                            <label>Ngày Sinh:</label>
                            <input type="text" class="form-control" name="BirthDate" id="BirthDate" value="@item.BirthDate">
                        </div>
                        <div class="form-group">
                            <label>Email:</label>
                            <input type="text" class="form-control" name="Email" id="Email" value="@item.Email">
                        </div>
                        <div class="form-group">
                            <label>Pass:</label>
                            <input type="text" class="form-control" name="Password" id="Password" value="@item.Password">
                        </div>
                        <div class="form-group">
                            <label>Notes:</label>
                            <input type="text" class="form-control" name="Notes" id="Notes" value="@item.Notes">
                        </div>
                        <div class="form-group">
                            <label>Photo:</label>
                            <input type="text" class="form-control" name="Photo" id="Photo" aria-label="With textarea" value="@item.Photo">
                        </div>
                        <button class="btn btn-warning" type="submit">
                            <i class="glyphicon glyphicon-edit"></i> Edit
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
}
@foreach (var item in Model.Data)
{
    <div id="@item.FirstName" class="modal fade @item.EmployeeID" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title">Chắc Chắn Xóa ?</h6>
                </div>
                <form method="post" action="~/Employees/Delete/@item.EmployeeID">
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="EmployeeID" id="EmployeeID" autofocus value="@item.EmployeeID">
                        <label>Tên :</label>
                        <input type="text" class="form-control" name="FirstName" id="FirstName" autofocus value="@item.FirstName">
                    </div>
                    <div class="form-group">
                        <label>LastName:</label>
                        <input type="text" class="form-control" name="LastName" id="LastName" value="@item.LastName">
                    </div>
                    <div class="form-group">
                        <label>Ngày Sinh:</label>
                        <input type="text" class="form-control" name="BirthDate" id="BirthDate" value="@item.BirthDate">
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="text" class="form-control" name="Email" id="Email" value="@item.Email">
                    </div>
                    <div class="form-group">
                        <label>Pass:</label>
                        <input type="text" class="form-control" name="Password" id="Password" value="@item.Password">
                    </div>
                    <div class="form-group">
                        <label>Notes:</label>
                        <input type="text" class="form-control" name="Notes" id="Notes" aria-label="With textarea" value="@item.Notes">
                    </div>
                    <div class="form-group">
                        <label>Photo:</label>
                        <input type="text" class="form-control" name="Photo" id="Photo" aria-label="With textarea" value="@item.Photo">
                    </div>
                    <button class="btn btn-danger" type="submit" onclick="return confirm('Xóa sản phẩm')">
                        <i class="glyphicon glyphicon-remove"></i> Delete
                    </button>
                </form>
            </div>

        </div>
    </div>
}
