﻿@model IEnumerable<LiteCommerce.DomainModels.Supplier>

@*form tìm kiếm*@
<div class=" container-fluid">
    <form id="formSearchInput">

        <div class="row" style="margin-top:5px">
            <div class="col-md-12 ">
                <div class="input-group">
                    <input name="searchValue" type="text" class="form-control" placeholder="Nhập tên cần tìm..." value="">
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <i class="glyphicon glyphicon-search"></i> Tìm kiếm
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@*Danh Sach Nhà cung cấp*@
<div id="listSuplier" class="container-fluid"></div>
@section scripts {
    <script>
        function getSupplier(page) {
            var searchCondition = $("#formSearchInput").serializeArray();
            searchCondition.push({ name: "page", value: page });
            $.ajax({
                url: "/Suppliers/List",
                type: "POST",
                data: searchCondition,
                success: function (data) {
                    $("#listSuplier").empty();
                    $("#listSuplier").html(data);
                }
            });
        }

        $(document).ready(function () {
            getSupplier(1);
            $("#formSearchInput").submit(function (e) {
                e.preventDefault();
                getSupplier(1);
            });
        });
    </script>
}