﻿@model LiteCommerce.Admin.Models.SupplierPaginationResult

@{
    Layout = null;
}
<div class="text-left">
    <p> Có tất cả <strong>@Model.PageSize </strong> nhà cung cấp trong tổng số<strong> @Model.PageCount </strong> trang, Bạn đang ở trang <strong>@Model.Page</strong></p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Tên Nhà Cung Cấp</th>
            <th>Tên Giao Dịch</th>
            <th>Địa Chỉ</th>
            <th>Quốc gia</th>
            <th>Thành Phố</th>
            <th>Mã Bưu Chính</th>
            <th>Điện thoại</th>
            <th class="text-right">
                <a href="~/Suppliers/Add" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>@item.SupplierName</td>
                <td>@item.ContactName</td>
                <td>@item.Address</td>
                <td>@item.Country</td>
                <td>@item.City</td>
                <td>@item.PostalCode</td>
                <td>@item.Phone</td>
                <td class="text-right">
                    <a href="~/Suppliers/Edit/@item.SupplierID" class="btn btn-sm btn-info">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a href="~/Suppliers/Delete/@item.SupplierID" class="btn btn-sm btn-danger">
                        <i class="fa fa-remove"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <ul class="pagination">
        @for (int page = 1; page <= Model.PageCount; page++)
        {
            if (page == Model.Page)
            {
                <li class="active"><a href="javascript:;">@page</a></li>
            }
            else
            {
                <li class="active"><a href="javascript:;" onclick="getSupplier(@page)">@page</a></li>
            }
        }
    </ul>
</div>
