﻿@model LiteCommerce.DomainModels.Account
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
</head>
<body>
    <style>
        body {
            background: #eee;
        }

        .separator {
            border-right: 1px solid #dfdfe0;
        }

        .icon-btn-save {
            padding-top: 0;
            padding-bottom: 0;
        }

        .input-group {
            margin-bottom: 10px;
        }

        .btn-save-label {
            position: relative;
            left: -12px;
            display: inline-block;
            padding: 6px 12px;
            background: rgba(0,0,0,0.15);
            border-radius: 3px 0 0 3px;
        }
    </style>

    <div class="container bootstrap snippets bootdey">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-th"></span>
                            Change password
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            @{
                                var account = CookieHelper.CookieStringToAccount(User.Identity.Name);
                            }
                            <div class="col-xs-6 col-sm-6 col-md-6 separator social-login-box">
                                <br>
                                <img alt="" class="img-thumbnail" src="@account.photo">
                            </div>
                            <form action="~/Account/ChangePassword" method="post">
                                <input type="hidden" class="form-control" name="accountid" value="@account.AccountID" placeholder="accountId" required readonly>
                                <div style="margin-top:80px;" class="col-xs-6 col-sm-6 col-md-6 login-box">
                                    <div class="form-group">
                                        <div class="form-group has-feedback">
                                            <input type="password" class="form-control" name="oldpass" placeholder="oldpass" required autofocus>
                                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <input type="password" class="form-control" name="newpass" placeholder="newpass" required>
                                            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                                        </div>
                                        <div class="form-group has-feedback">
                                            @Html.ValidationMessage("", new { @style = "color:#ff0000;" })
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6"></div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <button class="btn icon-btn-save btn-success" type="submit">
                                            <span class="btn-save-label"><i class="glyphicon glyphicon-floppy-disk"></i></span>save
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

